body {
    background-color: #f8edeb;
    font-family: 'Kumbh Sans', sans-serif;
}

#container {
    margin-bottom: 15vh;
    width: 100%;
}

h1 {
    font-size: 7rem;
    font-weight: 200;
}

#headingRow {
    width: 100%;
    background-color: #fcf6f5;
} 

#headingCol {
    background-color: #fcf6f5;
    background-size: 100%;
    width: 100%;
    padding: 10px;
    margin-top: 8vh;
    text-align: center;
    border: none;
    border-radius: 15px;
}

#buttonCol {
    margin-bottom: -25px;
    text-align: center;
    margin-top: 3vh;
}

#js {
    text-align: center;
    margin-left: 12vw;
    margin-right: 12vw;
}

#description {
    margin-top: 8vh;
    margin-bottom: 4vh;
    font-size: 1.5rem;
}

#sarcasm {
    text-decoration: none;
    color: #e5989b;
    transform: 500ms linear;
}

#sarcasm:hover {
    color: #6d6875;
}

#js > p {
    font-size: 1.2rem;
}

#button {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    color: #e5989b;
    margin-bottom: 5vh;
    box-shadow: none;
    border-color: #ffb4a2;
    background-color: #fff4f1;
    transition: 200ms linear;
}

#button:hover {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #e5989b;
    color: white;
}

img {
    max-width: 500px;
    max-height: 500px;
}