body {
    background-color: #f8edeb;
}

#row, #js {
    margin-top: 5vh;
    text-align: center;
}

#button {
    color: #e5989b;
    border-color: #ffb4a2;
    background-color: #fff4f1;
    transition: 200ms linear;
}

#button:hover {
    background-color: #e5989b;
    color: white;
}


img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
}